/* Font Imports */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-image: url(images/wedding-bg.svg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	color: #333;
	font-family: "Raleway", sans-serif;
	max-width: 1600px;
	min-width: 320px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 20px;
}

header {
	position: relative;
	height: 85vh;
	overflow: hidden;
}

.carousel {
	position: relative;
	width: 100%;
	height: 120%;
}

.carousel-images {
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: opacity 1s ease-in-out;
	opacity: 0;
	z-index: 0;
}

.carousel-image:first-child {
	opacity: 1;
	z-index: 1;
}

.carousel-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	text-align: center;
	z-index: 2; /* Ensure it stays above the images */
}

header h1 {
	font-family: "Playfair Display", serif;
	font-size: 64px;
	margin: 0;
	color: #fff;
}

.carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	font-size: 30px;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
}

.carousel-control.prev {
	left: 10px;
}

.carousel-control.next {
	right: 10px;
}

.carousel-control:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.invitation {
	text-align: center;
	font-size: 20px;
	margin: 40px 0;
	font-style: italic;
}

.invitation .save-the-date {
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	color: #353434;
	margin: 0;
}

.invitation .date {
	font-family: "Playfair Display", serif;
	font-size: 48px;
	margin: 10px 0;
	color: #844e29;
}

.invitation .decoration {
	width: 200px;
	height: 3px;
	background-color: #844e29;
	margin: 20px auto 0 auto;
	position: relative;
}

.details,
.wedding-party,
.wedding-location,
.other-info,
.other-details {
	background-color: #fff;
	/* background-image: url(images/bg-container.svg); */
	padding: 40px;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
	text-align: center;
	opacity: 85%;
}

.location {
	font-size: 18px;
	margin: 5px 0;
}

.details h2 {
	font-family: "Playfair Display", serif;
	font-size: 36px;
	margin-bottom: 20px;
	color: #844e29;
}

.details .date {
	font-size: 16px;
	color: #777;
	margin-bottom: 20px;
}

.timeline {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.timeline-item {
	background: linear-gradient(145deg, #9a6d3d, #a57d58);
	padding: 20px;
	border-radius: 8px;
	flex: 1;
	min-width: 150px;
	text-align: center;
	transition: transform 0.3s;
}

.timeline-item h3 {
	font-size: 24px;
	margin: 0;
	color: white;
}

.timeline-item p {
	font-size: 14px;
	margin: 5px 0 0;
	color: white;
}

.wedding-party {
	padding: 20px;
}

.wedding-party .title,
.nuptials,
.wedding-location-item,
.other-info h1 {
	font-family: "Playfair Display", serif;
	color: #844e29;
}

.wedding-location-item {
	font-size: 24px;
}

.wedding-party .title {
	font-size: 60px;
	margin-bottom: -20px;
}
.wedding-party .nuptials {
	font-size: 40px;
	margin-bottom: 20px;
}

.party-group {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.sponsor-title {
	font-size: 30px;
	margin-bottom: -20px;
}

.party-item,
.best-man h3 {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
}

.party-item h3,
.sponsor-title h3,
.best-man h3,
.maid-of-honor h3 {
	color: #333; /* This is the color used for best man and maid of honor titles */
	font-size: 28px;
}

.party-item p,
.left p,
.right p {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	color: #555;
	margin: 0;
	margin-bottom: 5px;
}

.sponsors {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.sponsors-left,
.sponsors-right {
	margin: 20px;
}

.sponsors-left {
	text-align: right;
}

.sponsors-right {
	text-align: left;
}

.sponsors-right p {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.sponsors-right {
	width: 25%;
	max-width: 100%;
}

.best-man,
.maid-of-honor p {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	color: #555;
	margin: 0;
	margin-bottom: 5px;
	font-weight: bold;
}

.maid-of-honor h3 {
	font-family: "Raleway", sans-serif;

	color: #333;
	font-weight: bold;
	margin-bottom: 10px;
}

.sponsor-title.secondary {
	margin-bottom: 20px;
	margin-right: 0;
}

.secondary-sponsors {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin: 0 auto;
}

.secondary-sponsors .left,
.secondary-sponsors .right {
	flex: 1;
	margin: 5px;
}

.secondary-sponsors .middle {
	flex: 1;
	text-align: center;
	padding: 0 10px;
}

.secondary-sponsors .left {
	text-align: right;
}

.secondary-sponsors .right {
	text-align: left;
}

.left p,
.right p {
	font-weight: bold;
}

.middle p {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin: 0;
	margin-bottom: 5px;
	text-align: center;
}

.wedding-location {
	display: flex;
	width: 85%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.wedding-location-item {
	flex: 1;
	min-width: 40%;
	margin: 6px;
}

.wedding-location-item h1 {
	background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
	padding: 10px;
	margin: 0;
	position: relative;
	z-index: 1;
}

.wedding-location-item p,
h3 {
	color: #555;
}

.wedding-location-item h3 {
	font-size: 22px;
}

.wedding-location-item p {
	font-size: 16px;
}

.parish {
	background-size: cover; /* Ensures the image covers the entire div */
	background-position: center; /* Centers the image within the div */
	height: 300px; /* Adjust height as needed */
	width: 100%; /* Ensure the div takes up the full width of its container */
	border-radius: 8px; /* Optional: adds a slight rounding to the corners */
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow for some depth */
	position: relative;
	z-index: 0;
}

.ceremony-bg {
	background-image: url(images/ust-parish.jpg);
}

.reception-bg {
	background-image: url(images/winford-resort-casino.jpg);
}

.qr-code {
	margin-top: 20px;
	text-align: center;
}

.qr-code img {
	width: 150px; /* Adjust size as needed */
	height: 150px;
	max-width: 100%;
	height: auto;
}

.other-info,
.other-details {
	width: 75%;
	margin: 0 auto;
	text-align: center;
	padding: 40px;
}

.dress-code {
	text-align: center;
}

.dress-code h1 {
	font-size: 30px;
}

.dress-code h3 {
	font-size: 16px;
	margin-bottom: 0;
}

.attire-and-colors {
	display: flex;
	justify-content: space-around;
	margin-top: 40px;
}

.attire,
.colors {
	flex-basis: 45%;
}

.attire-and-colors h2 {
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: #844e29;
	margin-bottom: 20px;
	text-align: center;
}

.attire h3 {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: #844e29;
	margin-top: 20px;
	margin-bottom: 10px;
}

.attire p,
.colors p {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #555;
	margin-bottom: 10px;
}

.color-palette {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.color-swatch {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 5px;
}

.other-details {
	margin-top: 40px;
}

.other-details h3 {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #555;
	margin-bottom: 10px;
}

.other-details h2 {
	font-family: "Playfair Display", serif;
	font-size: 36px;
	color: #844e29;
	margin-bottom: 20px;
}

.separator {
	width: 60%;
	height: 2px;
	background-color: #844e29;
	margin: 20px auto;
	position: relative;
}

.separator::before,
.separator::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #844e29;
	border-radius: 50%;
	top: -4px;
}

.separator::before {
	left: -5px;
}

.separator::after {
	right: -5px;
}

.details-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
}

.detail-item {
	text-align: center;
}

.icon {
	width: 60px;
	height: 60px;
	margin: 0 auto 20px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.gift-icon {
	background-image: url("path-to-your-gift-icon.svg");
}

.camera-icon {
	background-image: url("path-to-your-camera-icon.svg");
}

.hashtag-icon {
	background-image: url("path-to-your-hashtag-icon.svg");
}

.detail-item h4 {
	font-family: "Playfair Display", serif;
	font-size: 24px;
	color: #844e29;
	margin-bottom: 15px;
}

.detail-item p {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: #555;
	line-height: 1.6;
}

.rsvp h2 {
	font-family: "Playfair Display", serif;
	font-size: 28px;
	margin-bottom: 20px;
	text-align: center;
	color: #844e29;
}

.google-form {
	width: 100%;
	height: auto;
	text-align: center;
}

footer {
	text-align: center;
	padding: 20px 0;
	font-size: 14px;
	color: #777;
}

footer a {
	color: #b4886b;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 1023px) {
	body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url(images/wedding-bg.svg);
		background-size: cover;
		background-position: center top;
		z-index: -1;
	}
	body {
		background-image: none;
	}

	.qr-code img {
		width: 100px; /* Smaller size for mobile devices */
		height: 100px;
	}

	.wedding-party .title {
		font-size: 40px; /* Reduce from 60px */
		word-break: break-word; /* Allow words to break if necessary */
	}

	header h1 {
		font-size: 36px;
	}

	.party-group {
		flex-direction: column;
		align-items: center;
		gap: 2px;
	}

	/* New styles for details section */
	.details h2 {
		font-size: 28px; /* Reduced from 36px */
	}

	.timeline-item h3 {
		font-size: 20px; /* Reduced from 24px */
	}

	.timeline-item p {
		font-size: 12px; /* Reduced from 14px */
	}

	.party-item h3,
	.sponsor-title h3,
	.best-man h3,
	.maid-of-honor h3 {
		font-size: 24px; /* Reduced from 30px */
	}

	.party-item p,
	.best-man p,
	.maid-of-honor p,
	.secondary-sponsors p {
		font-size: 18px; /* Reduced from 20px */
	}

	.party-group.sponsors {
		flex-direction: column;
		align-items: center;
	}

	.party-item.parents-groom,
	.party-item.parents-bride,
	.party-item.groom,
	.party-item.bride {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.sponsors-left,
	.sponsors-right {
		width: 100%;
		text-align: center;
		margin-bottom: 20px; /* Add some space between the stacked columns */
	}

	.sponsors-left p,
	.sponsors-right p {
		margin: 10px 0; /* Add some vertical space between names */
	}

	.sponsor-title h3 {
		text-align: center;
		margin-bottom: 15px;
	}

	.google-form iframe {
		width: 100%;
	}

	.secondary-sponsors .left,
	.secondary-sponsors .middle,
	.secondary-sponsors .right {
		font-size: 16px;
		margin: 5px 0;
	}

	.secondary-sponsors .right {
		text-align: left;
	}

	.secondary-sponsors .left {
		text-align: right;
	}

	.wedding-location {
		display: flex;
		flex-direction: column; /* Stack vertically on mobile */
		width: 70%;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.other-info,
	.other-details {
		display: flex;
		flex-direction: column; /* Stack vertically on mobile */
		width: 65%;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.wedding-location-item {
		width: 100%;
		margin-bottom: 20px; /* Add space between items */
	}

	.attire-and-colors {
		flex-direction: column;
	}

	.attire,
	.colors {
		flex-basis: 100%;
		margin-bottom: 40px;
	}

	.details-grid {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.other-details h2 {
		font-size: 28px; /* Slightly smaller font size for mobile */
	}

	.detail-item {
		max-width: 300px; /* Limit width for better readability */
		margin: 0 auto; /* Center the items */
	}

	.icon {
		width: 50px; /* Slightly smaller icons for mobile */
		height: 50px;
	}

	.detail-item h4 {
		font-size: 22px; /* Slightly smaller heading for mobile */
	}

	.detail-item p {
		font-size: 14px; /* Maintain readability on smaller screens */
	}
}
@media (max-width: 374px) {
	.qr-code img {
		width: 80px; /* Even smaller for very narrow screens */
		height: 80px;
	}

	.wedding-party .title {
		font-size: 32px; /* Further reduced from 40px */
		word-break: break-word;
	}

	.wedding-party .nuptials {
		font-size: 28px; /* Reduced from 40px */
	}

	.sponsor-title h3,
	.party-item h3,
	.best-man h3,
	.maid-of-honor h3 {
		font-size: 24px; /* Smaller font size for headings */
	}

	.party-group {
		gap: 20px;
	}

	.sponsors-left p,
	.sponsors-right p {
		font-size: 16px; /* Smaller font size for paragraphs */
		text-align: center;
	}

	.secondary-sponsors p,
	.best-man p,
	.party-item p,
	.maid-of-honor p {
		font-size: 16px;
	}

	.party-item,
	.sponsors-left,
	.sponsors-right {
		width: 100%;
		margin-bottom: 15px; /* Add some space between stacked items */
	}

	.wedding-location-item h1 {
		font-size: 24px; /* Smaller font size for location headings */
	}

	.wedding-location-item h3 {
		font-size: 18px; /* Smaller font size for location subheadings */
	}

	.wedding-location-item p {
		font-size: 14px; /* Smaller font size for location paragraphs */
	}

	.timeline-item h3 {
		font-size: 20px; /* Smaller font size for timeline headings */
	}

	.timeline-item p {
		font-size: 14px; /* Smaller font size for timeline paragraphs */
	}
}

@media (max-width: 637px) {
	.middle {
		line-height: 45px;
	}

	body {
		background-position: right;
	}
}
